/* .filter__form{
    position: absolute;
    width: 1020px;
    height: 66px;
    left: 15%;
    right: 15%;
    top: 302px;
}

.filter__form__input{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    gap: 8px;
} */