  .char_card {
    /* position:inherit; */
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    width: 300px;
  }
  
  .char_card img {
    width: 100%;
    border-radius: 50%;
  }

  .char_name{
    display: flex;
    justify-content: center;
  }
  
  .info_title {
    display: flex;
    justify-content: center;
    color: grey;
  }

  .info_key{
    padding: 0;
    margin: 0;
    text-align: start;
  }
  
  .info_value{
    padding: 0;
    margin: 0;
    text-align: start;
    color: grey;
  }

  .info_list{
    padding: 0;
  }
  
  .info_list li {
    /* box-sizing: border-box; */
    width: 100%;
    /* height: 40px; */
    border-bottom: 1px solid grey;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .go_back__btn {
    position: fixed;
    top: 1em;
    left: 4em;
    cursor: pointer;
    margin: 1px;
    background: transparent;
    border: none;
    outline: none;
  }
  
  .go_back__btn::before {
    content: '<';
    margin-right: 5px;
  }
  
  @media screen and (max-width: 400px) {
    .char_card {
      display: flex;
      justify-content: center;
      margin: 10% auto;
      align-items: center;
      width: 80%;
    }
  }