.wrapper{
    /* position: relative; */
    text-align: center;
}

.logo__img{
    box-sizing:border-box;
    max-width: 600px;
    width: 100%;
}

.filter__form__input{
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    border: 0.5px solid #706d6d;
    border-radius: 8px;
    margin: 16px 0;
    padding: 0 0 0 16px;
}